<!-- Button trigger modal -->
<div class="span7 text-center">
    <button type="button" class="btn btn-primary btn-lg text-center" data-toggle="modal" data-target="#myModal">
        Add Test Run
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Test Run</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="testCycleId">Test Cycles</label>
                        <select id="testCycleId" #choosenTestCycle [(ng-model)]="testCycleId" (change)="fetchTestRuns(choosenTestCycle.value)" class="form-control">
                            <option *ng-for="#testCycle of testCycleSelectOptions" value="{{testCycle.id}}">{{testCycle.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="testCycleId">Test Runs</label>
                        <select id="testRunId" [(ng-model)]="testRunId" class="form-control">
                            <option *ng-for="#testCycle of testRunsSelectOptions" value="{{testCycle.id}}">{{testCycle.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addChosenTestRun()">Add</button>
            </div>
        </div>
    </div>
</div>