{{ diagnostic }}
<div *ng-if="!isSuccess" class="col-md-6 col-md-offset-3" id="loginPanel">
    <div class="alert alert-danger" *ng-if="errorlist.length > 0">
        <ul>
            <li *ng-for="#error of errorlist">{{ error }}</li>
        </ul>
    </div>
    <h2>Login</h2>
    <form name="form"  (ng-submit)="login()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" id="email"   [(ng-model)]="loginForm.email" class="form-control" required />
            <span ng-show="true" class="help-block">Username is required</span>
        </div>
        <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control"  [(ng-model)]="loginForm.password" required />
            <span ng-show="true" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
<div *ng-if="isSuccess" class="alert alert-success" role="alert">Success. You have been register with success</div>
