    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Test Analyzer</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><i class="fa fa-home"></i> Main</a></li>
                <li><a *ng-if="isUserLoggedIn()" href="#compare"><i class="fa fa-columns"></i> <strong>Compare</strong></a></li>
                <li><a *ng-if="isUserLoggedIn()" href="#upload"><i class="fa fa-plus"></i> Add</a></li>
                <li><a *ng-if="isUserLoggedIn()" href="#configure"><i class="fa fa-cog"></i> Configure</a></li>
                <li><a *ng-if="!isUserLoggedIn()" href="#login" ><i class="fa fa-sign-in"></i> Log in</a></li>
                <li><a *ng-if="isUserLoggedIn()" (click)="logout()"><i class="fa fa-sign-in"></i> Log out</a></li>
                <li><a *ng-if="!isUserLoggedIn()" href="#/register"><i class="fa fa-user-plus"></i> Register</a></li>
            </ul>
        </div>
    </nav>